*, *::after , *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aclonica;
}




/*
    Style de la navBar
*/

.gestionButton{
    background: #EF910F;
    color: white;
    width: auto;
    padding-inline: 20px;
    border-radius: 32px;
    border: none;
    height: 60px;
    font-size: 32px;
    cursor: pointer;
}
.gestionButton a{
    text-decoration: none;
    color: white;
}

/* .disconnectButton{
    background: #EF910F;
    color: white;
    width: auto;
    border-radius: 32px;
    border: none;
    height: 60px;
    padding-inline: 20px;
    font-size: 32px;
    cursor: pointer;
    text-decoration: none;
} */
.navbarSettingButton{
    width: 50px;
    height: 50px;
    border-radius: 16px;
}
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
/* .profilButton{
    background: #EF910F;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: none;
    padding-inline: 20px;
    font-size: 32px;
    cursor: pointer;
}
.profilButton a{
    display: flex;
    justify-content: center;
    align-items: center;
} */
/*
    Style des formulaires d'inscription et de connexion
*/
.formContainer{
    height: 100vh;
    z-index: 2;
    background: #ffffff30;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-inline: 40px;
}
.formContainer form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formInput{
    border-radius: 32px;
    border: 2px solid #469106;
    width: 100%;
    height: clamp(65px, 6vw, 80px);
    padding-left: 20px;
    margin-bottom: 40px;
}
.containerFormButton{
    /* width: 600px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.containerFormButton a{
    text-decoration: none;

}

.formButton{
    background: #469106;
    border-radius: 32px;
    width: auto;
    padding: 1rem;
    /* height: 60px; */
    color: white;
    border: none;
    font-size: clamp(1rem, 2vw,3rem);
}

.formLabel{
    font-size: clamp(1rem, 2vw, 3rem);
    /* font-size: 32px; */
    /* width: 500px; */
    width: 100%;
    padding-left:2rem ;
    text-align: start;
    margin-bottom: 10px;

}

.forgotPassword{
    width: 600px;
    text-align: start;
    font-size: 24px;
    text-decoration: none;
}

.forgotPassword:hover{
    text-decoration: underline;
}
.svgForm{
    height: 80px;
    width: 80px;
    cursor: pointer;
}
.containerForm{
    width: 100%;
    max-width: 600px;
    margin: auto;
}

/*
    Style de la page Setting
*/

.containerSetting{
    height: 100vh;
    background: #ffffff30;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerBackgroundSetting{
    /* background: url(../img/img-setting.png) no-repeat center fixed;  */
    width: 60%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerContentSetting{
    width: 60%;
    height: 300px;
    background: #ffffff30;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border-radius: 32px;
    padding-block: 20px;
}

.settingButton{
    width: 200px;
    height: 60px;
    background: #469106;
    color: white;
    border: none;
    border-radius: 32px;
    margin: auto;
    text-align: start;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 20px;
    cursor: pointer;
}


/*
    James le hibou
*/
.layout{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.gameTitle{
    text-align: center;
    margin-bottom: 24px;
}


.containerOperation{
    width: 60%;
    font-size: 72px;
}

.containerGame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}



.clocks{
    position: absolute;
    top: 120px;
    right: 100px;
}
/* .containerJames{
    display: flex;
    width: 500px;
    position: absolute;
    bottom: 190px;
    right: 0px;
    align-items: center;
    position: absolute;
} */

.talkbubbleJames{
    width: 180px;
    height: 120px;
    background: transparent;
    background: white;
    border: 2px solid black;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .talkbubbleJames:before {
    content: "";
    position: absolute;
    transform: rotate(-60deg);
    left: -8px;
    bottom: -12px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid white;
    border-bottom: 13px solid transparent;
  }

/*
    Style de modal de jeu
*/
.containerModalGame{
    width: 60%;
    /* height: 60vh; */
    gap:1rem;
    background: rgb(234, 184, 22, 0.49);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.boutonPlayGame{
    background: #75E618;
    width: 180px;
    height: 60px;
    text-align: center;
    border: none;
    border-radius: 32px;
}

.boutonPlayGame a{
    text-decoration: none;
    color: white;
    font-size: 32px;
}

.pictureGame{
    max-width: 40%;
    margin-top: 32px;
}
@media screen and (max-width: 678px) {
    .pictureGame{
        max-width: 200px;
    }
    .containerModalGame{
        width: 100%;
    }
}

/* lvlgame */

.containerLevelGame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titleLevelGame {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

 